.dialogs {
    background-color: #0F3D3E;
    display: grid;
    grid-template-columns: 3fr 10fr;
}
.dialogItems{
    border-right: 2px solid #E2DCC8;
}
.dialogItems{
    padding: 20px;
}
.dialogItems a {
    color:#fff;
}

.messages {
    color:#fff;
    padding: 10px;
}

.messages textarea{
    color:#000;
}